@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="InboundNotifierController">
    <h1>Received Inbound Messages</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Message ID</th>
            <th>Message Text</th>
            <th>From</th>
            <th>To</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in inboundMessages">
            <td>{{ message.MessageId }}</td>
            <td>{{ message.MessageText }}</td>
            <td>{{ message.From }}</td>
            <td>{{ message.To }}</td>
        </tr>
        </tbody>
    </table>
</div>